* {
  margin:0;
  padding:0;
  border: 1px solid pink;
}

$maxImg: 400px;
$largeImg: 21vw;
$mediumImg: 30vw;
$smallImg: 45vw;
$smallestImg: 80vw;

$fullScreen: 1900px;
$lapScreen: 1500px;
$tabScreen: 1000px;
$phoneScreen: 600px;


a{
  text-decoration:none;
  color:black
}

nav{
  display:flex;
  justify-content: space-between;
  align-items:center;
  height:50px;
}

.container {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  width: 95vw;
  margin: 40px auto;
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-right a{
  display:flex;
  align-items: center;
  height:50px;
  background-color: teal;
  color:white;
  padding:0 10px;
}

.img-container{
  display:block;
  overflow:hidden;
}

img{
    align-self:center;
    // padding-bottom:40px;
    // transition: all 2s ease-in-out;
  }

// img:hover{
//   transform: scale(3)
// }


@mixin mediaMix($imageSize){
  .container {
    img{
      width: $imageSize;
    }
  }

  // .container::after{
  //   content:"";
  //   width: $imageSize;
  // }
}

@media screen and (min-width:$fullScreen) {
  @include mediaMix($maxImg);
  .container {
    width:1800px;
  }
}

@media screen and (max-width:$fullScreen) and (min-width:$lapScreen) {

  @include mediaMix($largeImg);

}

@media screen and (max-width:$lapScreen) and (min-width:$tabScreen) {
    @include mediaMix($mediumImg);

}

@media screen and (max-width:$tabScreen) and (min-width:$phoneScreen) {
  @include mediaMix($smallImg);

}

@media screen and (max-width:$phoneScreen) {
  @include mediaMix($smallestImg);
  .container {
    justify-content:center;
  }
}
